fastapi
uvicorn
pydantic
numpy
pandas
scikit-learn
joblib
python-multipart
python-dotenv
pillow
requests
httpx
onnxruntime
protobuf
ultralytics

bcrypt
passlib[bcrypt]
python-jose[cryptography]
tensorflow
